.logsItem {
    position: relative;
    margin: 16px;
    background-color: #fcbf49;
    display: flex;
    align-items: center;
    padding: 10px;
    font-weight: bold;
}

.logsItemDesc {
    flex: auto;
    text-align: center;
}

.logsItemDesc h2 {
    margin: 10px 0;
    font-size: 20px;
    color: #003049;
}

.logsItemTime {
    color: #d62828;
}

.logsSort{

}

.logsDel {
    position: absolute;
    top: 0;
    right: 0;
}

.delete {
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.delete:hover {
    color: #d62828;
    transform: rotate(1turn);
}

