.logsDate{
    width: 88px;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
}

.logsDate .month{
    height: 28px;
    line-height: 28px;
    background-color: #d62828;
    font-size: 20px;
    color: white;
}

.logsDate .day{
    background-color: #fff;
    height: 60px;
    line-height: 60px;
    font-size: 50px;
}